.container-box{
    background-color: lightcyan;
    width: 424px;
    border-left: 6px solid darkgray;
    padding: 10px;
}
.container-box .info-badge{
    background-color: lightblue;
    color: darkblue;
    border-radius: 20px;
}
.dismiss-button{
    display: flex;
    justify-self: end;
    margin: 10px;
}